<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <a href="/new">Form</a>
        <% messages.forEach(function(message) { %>
        <h1><%= message.user %></h1>
        <p><%= message.text %></p>
        <p><%= message.added %></p>
        <% }); %>
    </body>
</html>
